@media screen and (max-width: 1200px) {
  .activity {
    &__item {
      width: 300px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    &__name {
      font-size: 36px;
      line-height: 36px;
    }
    &__pick {
      font-size: 60px;
    }
    &__icon {
      width: 90px;
    }
  }
  .activity {
    flex-direction: column;
    align-items: center;
    &__item {
      margin-bottom: 20px;
    }
  }
  .footer {
    position: relative;
    margin-top: 25px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    &__name {
      text-align: center;
    }
    &__pick {
      text-align: center;
    }
    &__icon {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }

}

@media screen and (max-width: 576px) {
  .header {
    &__name {
      font-size: 32px;
      line-height: 32px;
    }
    &__pick {
      font-size: 38px
    }
    &__icon {
      width: 70px;
      top: 10px;
      right: 10px;
    }
  }

  .activity {
    &__back {
      width: 240px;
    }
    &__title {
      font-size: 25px;
    }
    &__btn {
      bottom: 40px;
      width: 150px;
      height: 40px;
      font-size: 22px;
      line-height: 40px;
    }
  }

  .footer {
    position: relative;
    margin-top: 25px;
    &__btn {
      font-size: 20px;
      height: 45px;
      width: 130px;
    }
  }

  .popup {
    &__content {
      padding-top: 55px;
    }
    &__title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 0.6em;
    }
    &__text {
      font-size: 30px;
      line-height: 30px;
    }
  }
}
