@font-face {
  font-family: 'Jost';
  src: local('Jost-Regular'),
      url('../fonts/Jost-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: local('Jost-Italic'),
      url('../fonts/Jost-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Jost';
  src: local('Jost-Bold'),
      url('../fonts/Jost-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: local('Jost-BoldItalic'),
      url('../fonts/Jost-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}